$font-stack:    Helvetica, sans-serif
$primary-color: #000
$secondary-color: #fff
$scotish-blue: #005eb9
$irish-orange: #ffa93c
$irish-green: #0e9c62
$gray: #505050

header
  background: $scotish-blue
  padding: 3em
  margin: 0

body
  font: 100% $font-stack
  color: $primary-color
  background: $secondary-color
  width: 100%
  padding: 0
  margin: 0
  min-height: 100vh
  display: flex
  flex-direction: column

article
  display: inline-block
  background: $secondary-color
  min-height: 100%
  flex: 1
  margin-top: 3em
  text-align: center

nav
  background: $scotish-blue
  text-align: center
  
nav ul
  margin: 0
  padding: 0

nav li
  list-style-type: none
  font-weight: bold
  font-size: 2em
  margin: 0
  padding: 0

nav li a
  a:link
  color: $gray
a:visited
  color: $irish-orange
a:hover
  color: $irish-orange
a:active
  color: $irish-orange

footer
  font: 100% $font-stack
  color: $primary-color
  background: $irish-green
  width: 100%
  display: inline-block
  align-self: bottom

.inverse
  background-color: $primary-color
  color: white

.border-bottom-dashed
  border-bottom: 2em dashed $secondary-color
  padding-bottom: 2em

.border-top-dashed
  border-top: 2em dashed $secondary-color
  padding-top: 2em

.logo-image
  width: 20em
  margin-left: auto
  margin-right: auto
  display: block

a
  text-decoration: none