<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    <title>
        {% block title %}{{ SITE_NAME }}{% if SITE_SUBTITLE %}{{ SITE_SUBTITLE }}{% endif %}{% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/style.css" rel="stylesheet" />
    {% block head %}
    {% endblock head %}
</head>

<body class="home">
    <header id="banner">
        <a href="{{ SITE_URL }}">
            <img src="{{ LOGO_URL }}" class="logo-image">
        </a>
    </header>
    <nav class="border-bottom-dashed">
        <ul>
            {% for title, link in SITEMAP %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <article>
    {% block content %}
    {% endblock content%}
    </article>
    <footer class="border-top-dashed">
    </footer>
</body>
</html>
